html, body{
	font-size:15px;
	color: #ffffff;
	background-color: rgb(214, 187, 187); 
}

a {
  color: #ffffff;
}

a:hover {
  color: #8b7c87;
}

section{
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.section-1 {
	background-color: #597d81;
	background-image: linear-gradient(rgb(255, 220, 220), #82a7a7);
}

.section-2 {
	background-color: #8d9c9c;
} 

.section-3 {
	background-color: rgb(212, 194, 194);
}

.nav-bottom {
	font-size:50px;
}

.section-4 {
	background-color: rgb(214, 187, 187);
	padding: 0.2rem;
}

a.nav-item {
	color: #ebe8e8;
}

a.nav-item:hover {
	color: #fff;
}

.avatar{
	height:180px;
	border-radius: 50%;	
}


.intro-description{
	padding-top: 1rem;
}

.social-container img{
	max-width:100%;
	max-height:175px;
	margin-bottom:15px;
}

.project-figure {
	margin: 0 auto 1rem auto;
	max-height: 256px;
	max-width: 256px;
}

.project-text {
	text-align: justify;
	color: #dadada;
}

.project-text:hover {
	color: #fff;
	background-color: #778e91;
}

.box {
	background-color: transparent;
	border: 1px solid rgba(230, 253, 255, 0.452);
	text-align: center;
	font-size: 17px;
}

.image {
	border: 2px solid rgba(255, 255, 255, 0.452);
}

.title {
	color: #fff;
	text-align: center;
	margin-bottom: 2rem;
}

.about {
	text-align: justify;
	width: 80%;
	margin: 0 auto;
}

.void-background {
	background-color: transparent; 
}

@media screen and (max-width: 768px) {
	.nav-menu {
		background-color: #81aaafb4;
	}

	.nav-toggle:hover {
		background-color: transparent;
	}

	.nav-toggle span {
		background-color: #dfdfdf;
	}

	.nav-toggle span:hover {
		background-color: #fff;
	}

}